<p>Day la component home</p>
<div class="test">
   <div *ngFor="let trai of traiCay, let i = index">
    <li>{{i + 1}},{{trai}}</li>
   </div>
</div>
<br>
<table class="table1">
    <tr>
      <th>thu tu</th>  
      <th>Ten </th>
      <th>gia</th>
      <th>Ha gia</th>
    </tr>
    <tr *ngFor = "let trai of traiCay2 ; let i = index">
      <td>{{i + 1}}</td>
      <td>{{trai.ten | uppercase}}</td>
      <td class="right">
        <span [ngClass]="{'so-am': trai.price < 0}">{{trai.price | currency:"VND":"symbol":"1.2"}}</span>
      </td>
      <td ><span class="right" *ngIf="trai.sale">{{ trai.sale | onSale | uppercase }}</span></td>
    </tr>
  </table>